{% extends 'base.html' %}

{% block content %}

<style type="text/css"> 
    .border-rounded {
        border: 5px solid rgba(23, 23, 23, 0.136);
        border-radius: 10px; /* Add rounded corners */
        margin: 10px auto;;
        width: 75%;
        text-align: center;
    }

    .content-title {
        text-align: center;
    }
</style>

<div class="content-title">
    <h1>Content Section</h1>
</div>

<div class="border-rounded">
    <div class="content-title">
        <h2>Reading</h2>
    </div>
    <body>
        Reading is the process of understanding written or printed words.  
        It involves making sense of letters, words, and sentences to gather information, learn, and enjoy stories.
    </body>
</div>

<div class="border-rounded">
    <div class="content-title">
        <h2>Math</h2>
    </div>
    <body>
        What is the simple definition of math?
        Mathematics, or math, is the study of numbers and how they are related to each other and to the real world. 
        Math is as important as language. In fact, people sometimes describe math as a kind of language.
    </body>
</div>

<div class="border-rounded">
    <div class="content-title">
        <h2>Science</h2>
    </div>
    <body>
        The systematic study of the structure and behavior of the physical 
        and natural world through observation, experimentation, and the testing of theories against the evidence obtained.
    </body>
</div>

<div class="border-rounded">
    <div class="content-title">
        <h2>History</h2>
    </div>
    <body>
        History is the study of change over time, and it covers all aspects of human society. Political, social, economic,
        scientific, technological, medical, cultural, intellectual, religious and military developments are all part of history.
    </body>
</div>

<div class="border-rounded">
    <div class="content-title">
        <h2>ASCII Art :]</h2>
    </div>
    <body>
        <pre>
        .-""-.          ( )-"```"-( )          .-""-.
        / O O  \          /         \          /  O O \
        |O .-.  \        /   0 _ 0   \        /  .-. O|
        \ (   )  '.    _|     (_)     |     .'  (   ) /
        '.`-'     '-./ |             |`\.-'     '-'.'
        \         |  \   \     /   /  |         /
            \        \   '.  '._.'  .'   /        /
            \        '.   `'-----'`   .'        /
            \   .'    '-._        .-'\   '.   /
            |/`          `'''''')    )    `\|
            /                  (    (      ,\
            ;                    \    '-..-'/ ;
            |                     '.       /  |
            |                       `'---'`   |
            ;                                 ;
            \                               /
                `.                           .'
                '-._                   _.-'
            jgs    __/`"  '  - - -  ' "`` \__
                /`            /^\           `\
                \(          .'   '.         )/
                '.(__(__.-'       '.__)__).'
        
            _________
            / ======= \
            / __________\
            | ___________ |
            | | -       | |
            | |         | |
            | |_________| |
            \=____________/
            / """"""""""" \ 
           / ::::::::::::: \
          (_________________)
        </pre>
    </body>
</div>

{% endblock content %}